* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navbar {
  width: 100vw;
}

.main {
  overflow: hidden;
  min-height: calc(100vh - 114px);
}

.note {
  min-height: 200px;
  max-height: 600px;
}
